In [2]:
from vanna.openai import OpenAI_Chat
from vanna.chromadb import ChromaDB_VectorStore

In [3]:
class MyVanna(ChromaDB_VectorStore, OpenAI_Chat):
    def __init__(self, config=None):
        ChromaDB_VectorStore.__init__(self, config=config)
        OpenAI_Chat.__init__(self, config=config)

vn = MyVanna(config={'api_key': 'xxxxxxxxxxxxxxxxxxxxxxxxxxx', 'model': 'gpt-4-turbo'})

In [5]:
vn.connect_to_postgres(
    host='localhost',  # Docker is exposing the database on the local machine
    dbname='mydatabase',  # Set by POSTGRES_DB
    user='user',  # Set by POSTGRES_USER
    password='password',  # Set by POSTGRES_PASSWORD
    port='5432'  # The port exposed by Docker
)

In [6]:
vn.get_training_data()

Empty DataFrame
Columns: [id, question, content, training_data_type]
Index: []

In [9]:
# DDL statements are powerful because they specify table names, colume names, types, and potentially relationships
vn.train(ddl="""
        CREATE TABLE "cars_data" (
        "ID" INTEGER,
        "Make" TEXT,
        "Model" TEXT,
        "Year" REAL,
        "Trim" TEXT,
        "Trim (description)" TEXT,
        "Base MSRP" REAL,
        "Base Invoice" REAL,
        "Colors exterior" TEXT,
        "Colors interior" TEXT,
        "Body type" TEXT,
        "Doors" REAL,
        "Total seating" REAL,
        "Length (in)" REAL,
        "Width (in)" REAL,
        "Height (in)" REAL,
        "Wheelbase (in)" REAL,
        "Front track (in)" REAL,
        "Rear track (in)" REAL,
        "Ground clearance (in)" REAL,
        "Angle of approach (degrees)" REAL,
        "Angle of departure (degrees)" REAL,
        "Turning circle (ft)" REAL,
        "Drag coefficient (Cd)" REAL,
        "EPA interior volume (cu ft)" REAL,
        "Cargo capacity (cu ft)" REAL,
        "Maximum cargo capacity (cu ft)" REAL,
        "Curb weight (lbs)" REAL,
        "Gross weight (lbs)" REAL,
        "Maximum payload (lbs)" REAL,
        "Maximum towing capacity (lbs)" REAL,
        "Cylinders" TEXT,
        "Engine size (l)" REAL,
        "Horsepower (HP)" REAL,
        "Horsepower (rpm)" REAL,
        "Torque (ft-lbs)" REAL,
        "Torque (rpm)" REAL,
        "Valves" REAL,
        "Valve timing" TEXT,
        "Cam type" TEXT,
        "Drive type" TEXT,
        "Transmission" TEXT,
        "Engine type" TEXT,
        "Fuel type" TEXT,
        "Fuel tank capacity (gal)" REAL,
        "EPA combined MPG" REAL,
        "EPA city/highway MPG" TEXT,
        "Range in miles (city/hwy)" TEXT,
        "EPA combined MPGe" REAL,
        "EPA city/highway MPGe" TEXT,
        "EPA electricity range (mi)" REAL,
        "EPA kWh/100 mi" REAL,
        "EPA time to charge battery (at 240V) (hr)" REAL,
        "Battery capacity (kWh)" REAL,
        "Front head room (in)" REAL,
        "Front hip room (in)" REAL,
        "Front leg room (in)" REAL,
        "Front shoulder room (in)" REAL,
        "Rear head room (in)" REAL,
        "Rear hip room (in)" REAL,
        "Rear leg room (in)" REAL,
        "Rear shoulder room (in)" REAL,
        "Basic" TEXT,
        "Drivetrain" TEXT,
        "Roadside assistance" TEXT,
        "Rust" TEXT,
        "Source JSON" TEXT,
        "Source URL" TEXT,
        "Image URL" TEXT,
        "Review" TEXT,
        "Pros" TEXT,
        "Cons" TEXT,
        "What's new" TEXT,
        "NHTSA Overall Rating" TEXT,
        "Used price range" TEXT,
        "Scorecard Overall" TEXT,
        "Scorecard Driving" REAL,
        "Scorecard Confort" REAL,
        "Scorecard Interior" REAL,
        "Scorecard Utility" REAL,
        "Scorecard Technology" REAL,
        "Expert rating - Our verdict" TEXT,
        "Expert rating - Performance" TEXT,
        "Expert rating - Comfort" TEXT,
        "Expert rating - Interior" TEXT,
        "Expert rating - Technology" TEXT,
        "Expert rating - Storage" TEXT,
        "Expert rating - Fuel Economy" TEXT,
        "Expert rating - Value" TEXT,
        "Expert rating - Wildcard" TEXT,
        "Old trim" TEXT,
        "Old description" TEXT,
        "Images URL" TEXT,
        "Suspension" TEXT,
        "Front seats" TEXT,
        "Rear seats" TEXT,
        "Power features" TEXT,
        "Instrumentation" TEXT,
        "Convenience" TEXT,
        "Comfort" TEXT,
        "Memorized settings" TEXT,
        "In car entertainment" TEXT,
        "Roof and glass" TEXT,
        "Body" TEXT,
        "Truck features" TEXT,
        "Tires and wheels" TEXT,
        "Doors.1" TEXT,
        "Towing and hauling" TEXT,
        "Safety features" TEXT,
        "Packages" TEXT,
        "Exterior options" TEXT,
        "Interior options" TEXT,
        "Mechanical options" TEXT,
        "Country of origin" TEXT,
        "Car classification" TEXT,
        "Platform code / generation number" TEXT
        )
""")

Adding ddl:
        CREATE TABLE "cars_data" (
        "ID" INTEGER,
        "Make" TEXT,
        "Model" TEXT,
        "Year" REAL,
        "Trim" TEXT,
        "Trim (description)" TEXT,
        "Base MSRP" REAL,
        "Base Invoice" REAL,
        "Colors exterior" TEXT,
        "Colors interior" TEXT,
        "Body type" TEXT,
        "Doors" REAL,
        "Total seating" REAL,
        "Length (in)" REAL,
        "Width (in)" REAL,
        "Height (in)" REAL,
        "Wheelbase (in)" REAL,
        "Front track (in)" REAL,
        "Rear track (in)" REAL,
        "Ground clearance (in)" REAL,
        "Angle of approach (degrees)" REAL,
        "Angle of departure (degrees)" REAL,
        "Turning circle (ft)" REAL,
        "Drag coefficient (Cd)" REAL,
        "EPA interior volume (cu ft)" REAL,
        "Cargo capacity (cu ft)" REAL,
        "Maximum cargo capacity (cu ft)" REAL,
        "Curb weight (lbs)" REAL,
        "Gross weight (lbs)" REAL,
        "Maximum payload (lbs)" REAL,
        "Maximum towing capacity (lbs)" REAL,
        "Cylinders" TEXT,
        "Engine size (l)" REAL,
        "Horsepower (HP)" REAL,
        "Horsepower (rpm)" REAL,
        "Torque (ft-lbs)" REAL,
        "Torque (rpm)" REAL,
        "Valves" REAL,
        "Valve timing" TEXT,
        "Cam type" TEXT,
        "Drive type" TEXT,
        "Transmission" TEXT,
        "Engine type" TEXT,
        "Fuel type" TEXT,
        "Fuel tank capacity (gal)" REAL,
        "EPA combined MPG" REAL,
        "EPA city/highway MPG" TEXT,
        "Range in miles (city/hwy)" TEXT,
        "EPA combined MPGe" REAL,
        "EPA city/highway MPGe" TEXT,
        "EPA electricity range (mi)" REAL,
        "EPA kWh/100 mi" REAL,
        "EPA time to charge battery (at 240V) (hr)" REAL,
        "Battery capacity (kWh)" REAL,
        "Front head room (in)" REAL,
        "Front hip room (in)" REAL,
        "Front leg room (in)" REAL,
        "Front shoulder room (in)" REAL,
        "Rear head room (in)" REAL,
        "Rear hip room (in)" REAL,
        "Rear leg room (in)" REAL,
        "Rear shoulder room (in)" REAL,
        "Basic" TEXT,
        "Drivetrain" TEXT,
        "Roadside assistance" TEXT,
        "Rust" TEXT,
        "Source JSON" TEXT,
        "Source URL" TEXT,
        "Image URL" TEXT,
        "Review" TEXT,
        "Pros" TEXT,
        "Cons" TEXT,
        "What's new" TEXT,
        "NHTSA Overall Rating" TEXT,
        "Used price range" TEXT,
        "Scorecard Overall" TEXT,
        "Scorecard Driving" REAL,
        "Scorecard Confort" REAL,
        "Scorecard Interior" REAL,
        "Scorecard Utility" REAL,
        "Scorecard Technology" REAL,
        "Expert rating - Our verdict" TEXT,
        "Expert rating - Performance" TEXT,
        "Expert rating - Comfort" TEXT,
        "Expert rating - Interior" TEXT,
        "Expert rating - Technology" TEXT,
        "Expert rating - Storage" TEXT,
        "Expert rating - Fuel Economy" TEXT,
        "Expert rating - Value" TEXT,
        "Expert rating - Wildcard" TEXT,
        "Old trim" TEXT,
        "Old description" TEXT,
        "Images URL" TEXT,
        "Suspension" TEXT,
        "Front seats" TEXT,
        "Rear seats" TEXT,
        "Power features" TEXT,
        "Instrumentation" TEXT,
        "Convenience" TEXT,
        "Comfort" TEXT,
        "Memorized settings" TEXT,
        "In car entertainment" TEXT,
        "Roof and glass" TEXT,
        "Body" TEXT,
        "Truck features" TEXT,
        "Tires and wheels" TEXT,
        "Doors.1" TEXT,
        "Towing and hauling" TEXT,
        "Safety features" TEXT,
        "Packages" TEXT,
        "Exterior options" TEXT,
        "Interior options" TEXT,
        "Mechanical options" TEXT,
        "Country of origin" TEXT,
        "Car classification" TEXT,
        "Platform code / generation number" TEXT
        )

/home/hussnain/.cache/chroma/onnx_models/all-MiniLM-L6-v2/onnx.tar.gz: 100%|██████████| 79.3M/79.3M [03:45<00:00, 370kiB/s]

'1d831f6d-c54f-573e-b868-9ff29858f4b7-ddl'

In [10]:
vn.train(question='''What are the different car makes in the dataset?'''   ,
         sql='''SELECT DISTINCT "Make" FROM cars_data;''')

'69dc9d5f-58b7-5416-85b8-b257862b2752-sql'

In [11]:
vn.train(question='''How many cars are available for each make?'''   ,
         sql='''SELECT "Make", COUNT(*) AS count FROM cars_data GROUP BY "Make";''')

'59a1827f-92b0-5782-b2ed-8206d8c4f33c-sql'

In [12]:
vn.train(question='''Which are the top 5 most expensive cars by base MSRP?'''   ,
         sql='''SELECT "Make", "Model", "Year", "Base MSRP" FROM cars_data ORDER BY "Base MSRP" DESC LIMIT 5;''')

'213c6247-a37f-580e-b601-ad998d2c2b6b-sql'

In [13]:
vn.train(question='''Which cars have a towing capacity greater than 5,000 lbs?'''   ,
         sql='''SELECT "Make", "Model", "Year", "Maximum towing capacity (lbs)" FROM cars_data WHERE "Maximum towing capacity (lbs)" > 5000;''')

'af21e5c9-d2f8-5f01-9c78-4c0236abb5a8-sql'

In [14]:
vn.train(question='''What is the average horsepower of cars for each make?'''   ,
         sql='''SELECT "Make", AVG("Horsepower (HP)") AS avg_hp FROM cars_data GROUP BY "Make";''')

'16dda0f8-fbaf-5800-83eb-b100ae7a5722-sql'

In [15]:
vn.train(question='''Which cars have 4 doors and a total seating capacity of 5 or more?'''   ,
         sql='''SELECT "Make", "Model", "Year", "Doors", "Total seating" FROM cars_data WHERE "Doors" = 4 AND "Total seating" >= 5;''')

'c79eae7b-9e97-50b8-8d85-c95f6ed83339-sql'

In [16]:
vn.train(question='''Which cars have a drag coefficient lower than 0.30?'''   ,
         sql='''SELECT "Make", "Model", "Year", "Drag coefficient (Cd)" FROM cars_data WHERE "Drag coefficient (Cd)" < 0.30;''')

'dc2a8f7c-61f3-57a9-b943-8cd12b3f7e65-sql'

In [17]:
vn.train(question='''How many cars are available by each fuel type?'''   ,
         sql='''SELECT "Fuel type", COUNT(*) AS count FROM cars_data GROUP BY "Fuel type";''')

'6db7a29e-0c44-529a-8ed9-7285e999d194-sql'

In [18]:
vn.train(question='''Which are the top 10 cars with the highest cargo capacity?'''   ,
         sql='''SELECT "Make", "Model", "Cargo capacity (cu ft)" FROM cars_data ORDER BY "Cargo capacity (cu ft)" DESC LIMIT 10;''')

'8a711070-d94f-5fc4-8e4f-d2a8371970d3-sql'

In [19]:
vn.train(question='''Which cars have a wheelbase greater than 120 inches?'''   ,
         sql='''SELECT "Make", "Model", "Year", "Wheelbase (in)" FROM cars_data WHERE "Wheelbase (in)" > 120;''')

'724c39e4-12da-5717-8e50-a06cdff05867-sql'

In [20]:
vn.train(question='''What is the average combined MPG for each fuel type?'''   ,
         sql='''SELECT "Fuel type", AVG("EPA combined MPG") AS avg_mpg FROM cars_data GROUP BY "Fuel type";''')

'dd9e1abc-e08f-596a-b8c1-9fa3d21ef9f2-sql'

In [21]:
vn.train(question='''How many cars are available for each type of transmission?'''   ,
         sql='''SELECT "Transmission", COUNT(*) AS count FROM cars_data GROUP BY "Transmission";''')

'1205a3c8-cb18-5dd9-978c-b40b7029ec16-sql'

In [22]:
vn.train(question='''Which cars have an EPA electricity range greater than 100 miles?'''   ,
         sql='''SELECT "Make", "Model", "Year", "EPA electricity range (mi)" FROM cars_data WHERE "EPA electricity range (mi)" > 100;''')

'e143bb8b-5d27-52a5-b10c-d84c571f16eb-sql'

In [23]:
vn.train(question='''Which cars have a ground clearance of more than 8 inches?'''   ,
         sql='''SELECT "Make", "Model", "Year", "Ground clearance (in)" FROM cars_data WHERE "Ground clearance (in)" > 8;''')

'15b2dd13-4b81-5f51-aec9-a4774573a924-sql'

In [24]:
vn.train(question='''Which cars have more than 8 cylinders?'''   ,
         sql='''SELECT "Make", "Model", "Year", "Cylinders" FROM cars_data WHERE "Cylinders" > '8';''')

'b2f73bf1-9f68-5902-9d73-eabf69e37cfd-sql'

In [25]:
vn.train(question='''What are the top 5 cars with the best NHTSA Overall Rating?'''   ,
         sql='''SELECT "Make", "Model", "Year", "NHTSA Overall Rating" FROM cars_data WHERE "NHTSA Overall Rating" IS NOT NULL ORDER BY "NHTSA Overall Rating" DESC LIMIT 5;''')

'814579eb-2856-598b-8546-021561c814f9-sql'

In [26]:
vn.train(question='''Which cars have a maximum payload of more than 2,000 lbs?'''   ,
         sql='''SELECT "Make", "Model", "Year", "Maximum payload (lbs)" FROM cars_data WHERE "Maximum payload (lbs)" > 2000;''')

'6097959e-486f-5f98-bc07-b7a303b42492-sql'

In [27]:
vn.train(question='''Which cars have the highest expert rating for performance?'''   ,
         sql='''SELECT "Make", "Model", "Year", "Expert rating - Performance" FROM cars_data ORDER BY "Expert rating - Performance" DESC LIMIT 5;''')

'30fff7de-0219-5cbe-ad08-3c1bc480d476-sql'

In [28]:
vn.train(question='''Which cars have a base MSRP less than $30,000?'''   ,
         sql='''SELECT "Make", "Model", "Year", "Base MSRP" FROM cars_data WHERE "Base MSRP" < 30000;''')

'9ad75915-d3f1-5acd-8275-3c517e2a548e-sql'

In [29]:
vn.train(question='''Which cars have a turning circle of less than 35 feet?'''   ,
         sql='''SELECT "Make", "Model", "Year", "Turning circle (ft)" FROM cars_data WHERE "Turning circle (ft)" < 35;''')

'aa0d32aa-d530-5723-a47f-742ea35609fa-sql'

In [30]:
vn.train(question='''What is the average curb weight for each body type?'''   ,
         sql='''SELECT "Body type", AVG("Curb weight (lbs)") AS avg_weight FROM cars_data GROUP BY "Body type";''')

'59afde13-feb2-5ab3-b7ca-4d8a9fe161e3-sql'

In [31]:
vn.train(question='''Which cars have over 300 horsepower?'''   ,
         sql='''SELECT "Make", "Model", "Year", "Horsepower (HP)" FROM cars_data WHERE "Horsepower (HP)" > 300;''')

'dc9a09b0-dfe4-5fa2-9a05-ab80c322f163-sql'

In [32]:
vn.train(question='''Which cars have more than 5 years of basic warranty?'''   ,
         sql='''SELECT "Make", "Model", "Year", "Basic" FROM cars_data WHERE "Basic" > '5 years';''')

'431b96ce-d474-528e-943a-b887768d0aac-sql'

In [33]:
vn.train(question='''Which cars have a base invoice between $20,000 and $40,000?'''   ,
         sql='''SELECT "Make", "Model", "Year", "Base Invoice" FROM cars_data WHERE "Base Invoice" BETWEEN 20000 AND 40000;''')

'aff7e656-81d5-53b4-91eb-8289bc509674-sql'

In [34]:
vn.train(question='''Which cars have front headroom greater than 40 inches?'''   ,
         sql='''SELECT "Make", "Model", "Year", "Front head room (in)" FROM cars_data WHERE "Front head room (in)" > 40;''')

'5fee94a5-8f1a-5054-937b-4a3c604b6d62-sql'

In [35]:
vn.train(question='''What are the top 10 cars with the highest horsepower-to-weight ratio?'''   ,
         sql='''SELECT "Make", "Model", "Year", "Horsepower (HP)", "Curb weight (lbs)", ("Horsepower (HP)" / "Curb weight (lbs)") AS hp_to_weight FROM cars_data ORDER BY hp_to_weight DESC LIMIT 10;''')

'c90a025e-a27b-556d-841a-601d3643a57f-sql'

In [36]:
vn.train(question='''Which cars have rear legroom greater than 40 inches?'''   ,
         sql='''SELECT "Make", "Model", "Year", "Rear leg room (in)" FROM cars_data WHERE "Rear leg room (in)" > 40;''')

'c6a2bfbb-0565-5656-969c-2ac577e31ba7-sql'

In [37]:
vn.train(question='''Which cars have city MPG greater than 30?'''   ,
         sql='''SELECT "Make", "Model", "Year", "EPA city/highway MPG" FROM cars_data WHERE CAST(SPLIT_PART("EPA city/highway MPG", '/', 1) AS INTEGER) > 30;''')

'c33a4d3a-53e8-50ad-a76f-1d5124c31cab-sql'

In [38]:
vn.train(question='''Which cars were made after the year 2018?'''   ,
         sql='''SELECT "Make", "Model", "Year" FROM cars_data WHERE "Year" > 2018;''')

'b435a39e-4746-55ee-a393-9775a543f215-sql'

In [39]:
vn.train(question='''What are all the BMW models available in the dataset?'''   ,
         sql='''SELECT "Model", "Year" FROM cars_data WHERE "Make" = 'BMW';''')

'aa223cec-b4e9-5fb8-b905-1e40d4b92c9c-sql'

In [40]:
vn.train(question='''What is the average horsepower for BMW, Ford, and Toyota cars?'''   ,
         sql='''
            SELECT "Make", AVG("Horsepower (HP)") AS avg_hp 
            FROM cars_data 
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota') 
            GROUP BY "Make";
            ''')

'338f2e31-c049-5703-b835-b385d79d83b3-sql'

In [41]:
vn.train(question='''Which model has the highest MSRP for BMW, Ford, and Toyota?'''   ,
         sql='''
            SELECT "Make", "Model", MAX("Base MSRP") AS max_msrp
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
            GROUP BY "Make", "Model"
            ORDER BY max_msrp DESC;
            ''')

'93339f39-4248-5263-bd27-f4e2de9c9ebe-sql'

In [42]:
vn.train(question='''What is the average fuel tank capacity for BMW, Ford, and Toyota?'''   ,
         sql='''
            SELECT "Make", AVG("Fuel tank capacity (gal)") AS avg_fuel_tank
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
            GROUP BY "Make";
            ''')

'c94f00a0-af85-57d1-a52c-8bb09c085e2e-sql'

In [43]:
vn.train(question='''What is the average curb weight for BMW, Ford, and Toyota cars?'''   ,
         sql='''
            SELECT "Make", AVG("Curb weight (lbs)") AS avg_curb_weight
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
            GROUP BY "Make";
            ''')

'4f3cac26-a332-571c-bfc4-d2d38e86442a-sql'

In [44]:
vn.train(question='''How many Ford models have 4 doors?'''   ,
         sql='''
            SELECT COUNT(*) AS ford_4_doors_count
            FROM cars_data
            WHERE "Make" = 'Ford' AND "Doors" = 4;
            ''')

'48c48fe8-625c-5060-adbb-dabb1c448a73-sql'

In [45]:
vn.train(question='''Which BMW models have more than 300 horsepower?'''   ,
         sql='''
            SELECT "Model", "Year", "Horsepower (HP)"
            FROM cars_data
            WHERE "Make" = 'BMW' AND "Horsepower (HP)" > 300;
            ''')

'e6ab6876-9624-54f2-8913-7e8e2feb6856-sql'

In [46]:
vn.train(question='''What is the highest cargo capacity for BMW, Ford, and Toyota cars?'''   ,
         sql='''
            SELECT "Make", MAX("Cargo capacity (cu ft)") AS max_cargo_capacity
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
            GROUP BY "Make";
            ''')

'82f49aec-1fb4-50b2-a560-fa676b2886c3-sql'

In [47]:
vn.train(question='''Find the model with the lowest drag coefficient for each of the three makes?'''   ,
         sql='''
            SELECT "Make", "Model", MIN("Drag coefficient (Cd)") AS min_drag
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
            GROUP BY "Make", "Model"
            ORDER BY min_drag ASC;
            ''')

'781b351c-4651-5df4-bcec-f6b1cd3ea3bd-sql'

In [48]:
vn.train(question='''What is the average EPA combined MPG for BMW, Ford, and Toyota cars?'''   ,
         sql='''
            SELECT "Make", AVG("EPA combined MPG") AS avg_combined_mpg
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
            GROUP BY "Make";
            ''')

'e61ab593-9d6b-5782-ba79-c788fc02ce45-sql'

In [49]:
vn.train(question='''Which Toyota models have a towing capacity greater than 5,000 lbs?'''   ,
         sql='''
            SELECT "Model", "Year", "Maximum towing capacity (lbs)"
            FROM cars_data
            WHERE "Make" = 'Toyota' AND "Maximum towing capacity (lbs)" > 5000;
            ''')

'f30df293-590c-532b-a5f7-7f3ef45f9394-sql'

In [50]:
vn.train(question='''How many models from BMW, Ford, and Toyota have an expert performance rating of 9 or higher?'''   ,
         sql='''
            SELECT "Make", COUNT(*) AS count_high_perf_rating
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota') AND "Expert rating - Performance" >= '9'
            GROUP BY "Make";
            ''')

'5d2e6734-55bb-516a-a0ce-e30cc8eed5af-sql'

In [51]:
vn.train(question='''Which Ford model has the largest ground clearance?'''   ,
         sql='''
            SELECT "Model", "Year", "Ground clearance (in)"
            FROM cars_data
            WHERE "Make" = 'Ford'
            ORDER BY "Ground clearance (in)" DESC LIMIT 1;
            ''')

'c8147afe-6316-5eea-8c78-935bd73aecf3-sql'

In [52]:
vn.train(question='''Which models from BMW, Ford, and Toyota have rear legroom greater than 40 inches?'''   ,
         sql='''
            SELECT "Make", "Model", "Year", "Rear leg room (in)"
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota') AND "Rear leg room (in)" > 40;
            ''')

'9af88a3e-e146-596c-8e65-2f3b308dac58-sql'

In [53]:
vn.train(question='''Which Toyota model has the best combined MPGe rating?'''   ,
         sql='''
            SELECT "Model", "Year", "EPA combined MPGe"
            FROM cars_data
            WHERE "Make" = 'Toyota' AND "EPA combined MPGe" IS NOT NULL
            ORDER BY "EPA combined MPGe" DESC LIMIT 1;
            ''')

'5b75f4ac-cb62-580e-9ca2-ee3c27ae9e6b-sql'

In [54]:
vn.train(question='''What is the most recent model year for BMW, Ford, and Toyota?'''   ,
         sql='''
                SELECT "Make", MAX("Year") AS latest_year
                FROM cars_data
                WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
                GROUP BY "Make";
            ''')

'16527f27-3503-5ea6-a3bd-cebd9d3536a2-sql'

In [55]:
vn.train(question='''How many models from BMW, Ford, and Toyota have an NHTSA Overall Rating of 5?'''   ,
         sql='''
            SELECT "Make", COUNT(*) AS count_5_star_rating
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota') AND "NHTSA Overall Rating" = '5'
            GROUP BY "Make";
            ''')

'69515dd1-b50a-57d4-91e8-e2ee55579018-sql'

In [56]:
vn.train(question='''Which Toyota models have front headroom greater than 40 inches?'''   ,
         sql='''
            SELECT "Model", "Year", "Front head room (in)"
            FROM cars_data
            WHERE "Make" = 'Toyota' AND "Front head room (in)" > 40;
            ''')

'b7aea55e-37bb-53ba-95b6-85c0629d633b-sql'

In [57]:
vn.train(question='''What is the average battery capacity for electric models of BMW, Ford, and Toyota?'''   ,
         sql='''
            SELECT "Make", AVG("Battery capacity (kWh)") AS avg_battery_capacity
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota') AND "Battery capacity (kWh)" IS NOT NULL
            GROUP BY "Make";
            ''')

'f8952233-8642-51d2-9765-840f279e8b29-sql'

In [58]:
vn.train(question='''Which model has the highest expert rating for value among BMW, Ford, and Toyota?'''   ,
         sql='''
            SELECT "Make", "Model", "Year", "Expert rating - Value"
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
            ORDER BY "Expert rating - Value" DESC LIMIT 1;
            ''')

'30f342db-109b-5b48-be9b-a8e1ff863a09-sql'

In [59]:
vn.train(question='''What is the average MSRP for each body type for BMW, Ford, and Toyota?'''   ,
         sql='''
            SELECT "Make", "Body type", AVG("Base MSRP") AS avg_msrp
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
            GROUP BY "Make", "Body type"
            ORDER BY "Make", avg_msrp DESC;
            ''')

'3418fe81-a97e-5537-bd81-a05011b053c3-sql'

In [60]:
vn.train(question='''Which Toyota models have cargo capacities greater than 50 cu ft?'''   ,
         sql='''
            SELECT "Model", "Cargo capacity (cu ft)"
            FROM cars_data
            WHERE "Make" = 'Toyota' AND "Cargo capacity (cu ft)" > 50;
            ''')

'8a4fcfb9-fbfa-5b52-b664-0c5ae81a0ae0-sql'

In [61]:
vn.train(question='''What is the average torque (ft-lbs) for BMW, Ford, and Toyota models?'''   ,
         sql='''
            SELECT "Make", AVG("Torque (ft-lbs)") AS avg_torque
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
            GROUP BY "Make";
            ''')

'b4d26a85-794a-58cd-88b8-63186ade8665-sql'

In [62]:
vn.train(question='''Which BMW models have 6 cylinders?'''   ,
         sql='''
            SELECT "Model", "Year", "Cylinders"
            FROM cars_data
            WHERE "Make" = 'BMW' AND "Cylinders" = '6';

            ''')

'431b3f23-1e1e-5f1e-aaf7-1ba189ed9df2-sql'

In [63]:
vn.train(question='''What is the maximum towing capacity for BMW, Ford, and Toyota models?'''   ,
         sql='''
                SELECT "Make", MAX("Maximum towing capacity (lbs)") AS max_towing_capacity
                FROM cars_data
                WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
                GROUP BY "Make";

            ''')

'ce603104-2ba3-598f-b9fb-a2e50a725253-sql'

In [64]:
vn.train(question='''Which Ford models have a combined MPG greater than 30?'''   ,
         sql='''
            SELECT "Model", "Year", "EPA combined MPG"
            FROM cars_data
            WHERE "Make" = 'Ford' AND "EPA combined MPG" > 30;

            ''')

'f446f9aa-38eb-566c-9a55-2fb71890d6f9-sql'

In [65]:
vn.train(question='''Which BMW model has the largest wheelbase?'''   ,
         sql='''
            SELECT "Model", "Year", "Wheelbase (in)"
            FROM cars_data
            WHERE "Make" = 'BMW'
            ORDER BY "Wheelbase (in)" DESC LIMIT 1;
            ''')

'aa0ee0c9-2c9f-5f73-9f2e-efcaf82884fe-sql'

In [66]:
vn.train(question='''What is the average number of doors for BMW, Ford, and Toyota models?'''   ,
         sql='''
            SELECT "Make", AVG("Doors") AS avg_doors
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
            GROUP BY "Make";

            ''')

'8da43e2d-43fe-5c78-9b61-ed18cea52338-sql'

In [67]:
vn.train(question='''Which Toyota models have front shoulder room greater than 60 inches?'''   ,
         sql='''
            SELECT "Model", "Year", "Front shoulder room (in)"
            FROM cars_data
            WHERE "Make" = 'Toyota' AND "Front shoulder room (in)" > 60;

            ''')

'72e8a5d5-0c34-5642-96a8-7356f2ce743f-sql'

In [68]:
vn.train(question='''How many models use hybrid engines for BMW, Ford, and Toyota?'''   ,
         sql='''
            SELECT "Make", COUNT(*) AS hybrid_count
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota') AND "Engine type" = 'Hybrid'
            GROUP BY "Make";
            ''')

'b5ef384f-df71-5dc6-a296-68d9a575b620-sql'

In [69]:
vn.train(question='''Which Toyota model with a manual transmission has the highest MSRP?'''   ,
         sql='''
            SELECT "Model", "Year", "Base MSRP"
            FROM cars_data
            WHERE "Make" = 'Toyota' AND "Transmission" = 'Manual'
            ORDER BY "Base MSRP" DESC LIMIT 1;

            ''')

'839d335f-23bf-5c55-af49-d98b1dfcf14e-sql'

In [70]:
vn.train(question='''Which BMW models have a 5-star NHTSA Overall Rating?'''   ,
         sql='''
            SELECT "Model", "Year", "NHTSA Overall Rating"
            FROM cars_data
            WHERE "Make" = 'BMW' AND "NHTSA Overall Rating" = '5';

            ''')

'7e3305ef-d018-5328-b37b-0eb043647ca2-sql'

In [71]:
vn.train(question='''What is the average interior volume for BMW, Ford, and Toyota cars?'''   ,
         sql='''
                SELECT "Make", AVG("EPA interior volume (cu ft)") AS avg_interior_volume
                FROM cars_data
                WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
                GROUP BY "Make";

            ''')

'c7537a6f-2b3f-5eba-ac00-feb48364f99b-sql'

In [72]:
vn.train(question='''Which Ford model has the lowest curb weight?'''   ,
         sql='''
            SELECT "Model", "Year", "Curb weight (lbs)"
            FROM cars_data
            WHERE "Make" = 'Ford'
            ORDER BY "Curb weight (lbs)" ASC LIMIT 1;
            ''')

'77106668-b2a6-537c-b60d-dcffffc2fa7b-sql'

In [73]:
vn.train(question='''Which Toyota models have an EPA electricity range greater than 100 miles?'''   ,
         sql='''
            SELECT "Model", "Year", "EPA electricity range (mi)"
            FROM cars_data
            WHERE "Make" = 'Toyota' AND "EPA electricity range (mi)" > 100;

            ''')

'327d6cce-3079-5cde-8dd6-77f74cd3f9a1-sql'

In [74]:
vn.train(question='''What is the average front and rear legroom for BMW, Ford, and Toyota cars?'''   ,
         sql='''
            SELECT "Make", AVG("Front leg room (in)") AS avg_front_legroom, AVG("Rear leg room (in)") AS avg_rear_legroom
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
            GROUP BY "Make";

                        ''')

'56a4da44-7fac-5a97-a0e7-3f73228fb2c0-sql'

In [75]:
vn.train(question='''Which Ford models have torque greater than 400 ft-lbs?'''   ,
         sql='''
                SELECT "Model", "Year", "Torque (ft-lbs)"
                FROM cars_data
                WHERE "Make" = 'Ford' AND "Torque (ft-lbs)" > 400;
       ''')

'a1798119-fe47-5003-9157-2f6abce63a2e-sql'

In [76]:
vn.train(question='''What is the average ground clearance for BMW, Ford, and Toyota models?'''   ,
         sql='''
            SELECT "Make", AVG("Ground clearance (in)") AS avg_ground_clearance
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
            GROUP BY "Make";

       ''')

'7de6e338-f5c7-5c5a-b34f-b27c937451a7-sql'

In [77]:
vn.train(question='''Which BMW model has the highest fuel tank capacity?'''   ,
         sql='''
            SELECT "Model", "Year", "Fuel tank capacity (gal)"
            FROM cars_data
            WHERE "Make" = 'BMW'
            ORDER BY "Fuel tank capacity (gal)" DESC LIMIT 1;

       ''')

'69c7b592-2569-5920-8c98-5d3492366bf8-sql'

In [78]:
vn.train(question='''Which Toyota models have a cargo capacity greater than 70 cu ft?'''   ,
         sql='''
            SELECT "Model", "Year", "Cargo capacity (cu ft)"
            FROM cars_data
            WHERE "Make" = 'Toyota' AND "Cargo capacity (cu ft)" > 70;

       ''')

'5ae658c6-affc-5da3-9229-c48b811caec5-sql'

In [79]:
vn.train(question='''What is the most recent Ford model with rear-wheel drive?'''   ,
         sql='''
            SELECT "Model", "Year", "Drive type"
            FROM cars_data
            WHERE "Make" = 'Ford' AND "Drive type" = 'Rear-wheel drive'
            ORDER BY "Year" DESC LIMIT 1;

       ''')

'e1a70cc8-30ef-5e18-934f-38eb211d50af-sql'

In [80]:
vn.train(question='''What is the maximum seating capacity for BMW, Ford, and Toyota vehicles?'''   ,
         sql='''
            SELECT "Make", MAX("Total seating") AS max_seating
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
            GROUP BY "Make";

       ''')

'037e5605-3c9b-5ecb-b9b6-159e2d941c44-sql'

In [81]:
vn.train(question='''Which BMW models have a maximum'''   ,
         sql='''
            SELECT "Model", "Year", "Maximum payload (lbs)"
            FROM cars_data
            WHERE "Make" = 'BMW' AND "Maximum payload (lbs)" > 2000;
       ''')

'85f2bbbe-355f-524c-80e6-cdf3041be031-sql'

In [82]:
vn.train(question='''What is the average front headroom for BMW, Ford, and Toyota cars?'''   ,
         sql='''
            SELECT "Make", AVG("Front head room (in)") AS avg_front_headroom
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
            GROUP BY "Make";

       ''')

'e4e07256-2f53-59b2-8da2-7c135c61f099-sql'

In [83]:
vn.train(question='''Which Ford model has the highest expert rating for safety?'''   ,
         sql='''
            SELECT "Model", "Year", "Expert rating - Safety"
            FROM cars_data
            WHERE "Make" = 'Ford'
            ORDER BY "Expert rating - Safety" DESC LIMIT 1;
       ''')

'b921a1fe-b65f-515d-aa1c-8a5ca82be5c2-sql'

In [84]:
vn.train(question='''Which Toyota models have 4-cylinder engines and combined MPG greater than 25?'''   ,
         sql='''
            SELECT "Model", "Year", "Cylinders", "EPA combined MPG"
            FROM cars_data
            WHERE "Make" = 'Toyota' AND "Cylinders" = '4' AND "EPA combined MPG" > 25;

       ''')

'07af53a7-c52e-5a3f-b254-b0bfc9f120bb-sql'

In [85]:
vn.train(question='''Which BMW model has the highest rear headroom?'''   ,
         sql='''
            SELECT "Model", "Year", "Rear head room (in)"
            FROM cars_data
            WHERE "Make" = 'BMW'
            ORDER BY "Rear head room (in)" DESC LIMIT 1;
       ''')

'97fe9df0-120d-5625-9176-b612b7483254-sql'

In [86]:
vn.train(question='''What is the horsepower-to-curb-weight ratio for BMW, Ford, and Toyota cars?'''   ,
         sql='''
        SELECT "Make", AVG("Horsepower (HP)") / AVG("Curb weight (lbs)") AS hp_to_weight_ratio
        FROM cars_data
        WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
        GROUP BY "Make";

       ''')

'7d2d8dad-1722-5a77-89ad-f35a82687f8a-sql'

In [87]:
vn.train(question='''Which Toyota models have 7 or more seats?'''   ,
         sql='''
            SELECT "Model", "Year", "Total seating"
            FROM cars_data
            WHERE "Make" = 'Toyota' AND "Total seating" >= 7;
       ''')

'11772a7a-a221-5330-8bdf-b586faa36ad5-sql'

In [88]:
vn.train(question='''What is the average drag coefficient for BMW, Ford, and Toyota cars?'''   ,
         sql='''
            SELECT "Make", AVG("Drag coefficient (Cd)") AS avg_drag_coefficient
            FROM cars_data
            WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
            GROUP BY "Make";

       ''')

'518dcb0a-a9ce-5fba-9c7b-fcfd4b71d11e-sql'

In [89]:
vn.train(question='''Which Toyota models have the highest horsepower-to-weight ratio?'''   ,
         sql='''
            SELECT "Model", "Year", "Horsepower (HP)", "Curb weight (lbs)", 
                ("Horsepower (HP)" / "Curb weight (lbs)") AS hp_to_weight_ratio
            FROM cars_data
            WHERE "Make" = 'Toyota'
            ORDER BY hp_to_weight_ratio DESC LIMIT 5;

       ''')

'ba358524-9a4f-57cf-a977-685a78ec4e19-sql'

In [90]:
vn.train(question='''What is the difference in average MPG between hybrid and non-hybrid models for BMW, Ford, and Toyota?'''   ,
         sql='''
        SELECT "Make", "Engine type", AVG("EPA combined MPG") AS avg_mpg
        FROM cars_data
        WHERE "Make" IN ('BMW', 'Ford', 'Toyota') 
        GROUP BY "Make", "Engine type"
        ORDER BY "Make", avg_mpg DESC;

       ''')

'52f4e41c-76e8-5893-aaf3-fd11d4058bc1-sql'

In [91]:
vn.train(question='''Which Ford models have the smallest turning circle?'''   ,
         sql='''
            SELECT "Model", "Year", "Turning circle (ft)"
            FROM cars_data
            WHERE "Make" = 'Ford'
            ORDER BY "Turning circle (ft)" ASC LIMIT 5;

       ''')

'2c27c23c-c040-5612-9bd9-deca2c03dce6-sql'

In [92]:
vn.train(question='''What is the average number of valves per engine for BMW, Ford, and Toyota?'''   ,
         sql='''
        SELECT "Make", AVG("Valves") AS avg_valves
        FROM cars_data
        WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
        GROUP BY "Make";

       ''')

'0f87e61b-dc0c-5ee8-a44f-f825a9053bcc-sql'

In [93]:
vn.train(question='''Which Ford vehicles are the longest in length?'''   ,
         sql='''
            SELECT "Model", "Year", "Length (in)"
            FROM cars_data
            WHERE "Make" = 'Ford'
            ORDER BY "Length (in)" DESC LIMIT 5;

       ''')

'7abdf8c6-fe2b-5595-9f1e-5dbf378cb094-sql'

In [94]:
vn.train(question='''Which Toyota models have a drag coefficient of less than 0.30?'''   ,
         sql='''
            SELECT "Model", "Year", "Drag coefficient (Cd)"
            FROM cars_data
            WHERE "Make" = 'Toyota' AND "Drag coefficient (Cd)" < 0.30;

       ''')

'1c715d47-18e9-5504-9657-92100f11a9ed-sql'

In [95]:
vn.train(question='''What is the average towing capacity of SUVs for BMW, Ford, and Toyota?'''   ,
         sql='''
SELECT "Make", AVG("Maximum towing capacity (lbs)") AS avg_towing_capacity
FROM cars_data
WHERE "Make" IN ('BMW', 'Ford', 'Toyota') AND "Body type" = 'SUV'
GROUP BY "Make";

       ''')

'4658b53c-cf01-5e13-9d58-76b35f79a095-sql'

In [96]:
vn.train(question='''Which BMW electric vehicles have the highest combined EPA MPGe?'''   ,
         sql='''
SELECT "Model", "Year", "EPA combined MPGe"
FROM cars_data
WHERE "Make" = 'BMW' AND "EPA combined MPGe" IS NOT NULL
ORDER BY "EPA combined MPGe" DESC LIMIT 5;

       ''')

'974094d9-abff-5241-9253-a4c3b90eff7b-sql'

In [97]:
vn.train(question='''What is the average fuel tank capacity for BMW, Ford, and Toyota models?'''   ,
         sql='''
SELECT "Make", AVG("Fuel tank capacity (gal)") AS avg_fuel_tank_capacity
FROM cars_data
WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
GROUP BY "Make";

       ''')

'7d2016bd-ed4b-551d-9094-757134273716-sql'

In [98]:
vn.train(question='''Which Ford models have over 300 horsepower and more than 30 combined MPG?'''   ,
         sql='''
SELECT "Model", "Year", "Horsepower (HP)", "EPA combined MPG"
FROM cars_data
WHERE "Make" = 'Ford' AND "Horsepower (HP)" > 300 AND "EPA combined MPG" > 30;

       ''')

'77a3df87-58f2-54c8-bbfe-042305a12afa-sql'

In [99]:
vn.train(question='''Which Toyota models have the highest EPA interior volume?'''   ,
         sql='''
SELECT "Model", "Year", "EPA interior volume (cu ft)"
FROM cars_data
WHERE "Make" = 'Toyota'
ORDER BY "EPA interior volume (cu ft)" DESC LIMIT 5;

       ''')

'f220a2e5-11e9-5a39-8b88-4d417476bc21-sql'

In [100]:
vn.train(question='''What is the average height of sedans for BMW, Ford, and Toyota?'''   ,
         sql='''
SELECT "Make", AVG("Height (in)") AS avg_height
FROM cars_data
WHERE "Make" IN ('BMW', 'Ford', 'Toyota') AND "Body type" = 'Sedan'
GROUP BY "Make";

       ''')

'b724974e-eeaf-5dc0-8cea-382cd16bb05b-sql'

In [101]:
vn.train(question='''Which Toyota models are the heaviest by curb weight?'''   ,
         sql='''
SELECT "Model", "Year", "Curb weight (lbs)"
FROM cars_data
WHERE "Make" = 'Toyota'
ORDER BY "Curb weight (lbs)" DESC LIMIT 5;

       ''')

'ef852607-2999-5043-9a33-a758f24b3cad-sql'

In [102]:
vn.train(question='''Which BMW models have a wheelbase longer than 115 inches?'''   ,
         sql='''
SELECT "Model", "Year", "Wheelbase (in)"
FROM cars_data
WHERE "Make" = 'BMW' AND "Wheelbase (in)" > 115;

       ''')

'f046851c-4672-55ba-9a3c-d5d48cdb5c7b-sql'

In [103]:
vn.train(question='''What is the average engine size for BMW, Ford, and Toyota?'''   ,
         sql='''
SELECT "Make", AVG("Engine size (l)") AS avg_engine_size
FROM cars_data
WHERE "Make" IN ('BMW', 'Ford', 'Toyota')
GROUP BY "Make";

       ''')

'd66e6001-083d-5125-9d08-d46cc3216ec4-sql'

In [104]:
vn.train(question='''Which Toyota models have the lowest drag coefficient?'''   ,
         sql='''
SELECT "Model", "Year", "Drag coefficient (Cd)"
FROM cars_data
WHERE "Make" = 'Toyota'
ORDER BY "Drag coefficient (Cd)" ASC LIMIT 5;

       ''')

'd43fe29d-572f-503d-a67a-d276e80906ea-sql'

In [105]:
vn.train(question='''Which Ford models have torque greater than 500 ft-lbs?'''   ,
         sql='''
SELECT "Model", "Year", "Torque (ft-lbs)"
FROM cars_data
WHERE "Make" = 'Ford' AND "Torque (ft-lbs)" > 500;

       ''')

'344d3e2d-c56c-5784-8ebc-a03cdd8d132c-sql'

In [106]:
vn.train(question='''How many models have all-wheel drive for BMW, Ford, and Toyota?'''   ,
         sql='''
SELECT "Make", COUNT(*) AS awd_count
FROM cars_data
WHERE "Make" IN ('BMW', 'Ford', 'Toyota') AND "Drive type" = 'All-wheel drive'
GROUP BY "Make";

       ''')

'f5901ad0-61a9-5b47-a4f7-73386b2d78d3-sql'

In [107]:
vn.train(question=''' Which Toyota electric vehicles have the longest range?'''   ,
         sql='''
SELECT "Model", "Year", "EPA electricity range (mi)"
FROM cars_data
WHERE "Make" = 'Toyota'
ORDER BY "EPA electricity range (mi)" DESC LIMIT 5;

       ''')

'a53c11e9-c0d8-57ae-82fb-0d13e5cdd3e2-sql'

In [108]:
vn.train(question=''' Which Toyota models have 8-cylinder engines?'''   ,
         sql='''
SELECT "Model", "Year", "Cylinders"
FROM cars_data
WHERE "Make" = 'Toyota' AND "Cylinders" = '8';

       ''')

'669c8c05-4b7b-5039-8f69-469bf8cbf3fe-sql'

In [109]:
vn.get_training_data()

,id,question,content,training_data_type
0,69dc9d5f-58b7-5416-85b8-b257862b2752-sql,What are the different car makes in the dataset?,"SELECT DISTINCT ""Make"" FROM cars_data;",sql
1,59a1827f-92b0-5782-b2ed-8206d8c4f33c-sql,How many cars are available for each make?,"SELECT ""Make"", COUNT(*) AS count FROM cars_dat...",sql
2,213c6247-a37f-580e-b601-ad998d2c2b6b-sql,Which are the top 5 most expensive cars by bas...,"SELECT ""Make"", ""Model"", ""Year"", ""Base MSRP"" FR...",sql
3,af21e5c9-d2f8-5f01-9c78-4c0236abb5a8-sql,Which cars have a towing capacity greater than...,"SELECT ""Make"", ""Model"", ""Year"", ""Maximum towin...",sql
4,16dda0f8-fbaf-5800-83eb-b100ae7a5722-sql,What is the average horsepower of cars for eac...,"SELECT ""Make"", AVG(""Horsepower (HP)"") AS avg_h...",sql
...,...,...,...,...
95,344d3e2d-c56c-5784-8ebc-a03cdd8d132c-sql,Which Ford models have torque greater than 500...,"\nSELECT ""Model"", ""Year"", ""Torque (ft-lbs)""\nF...",sql
96,f5901ad0-61a9-5b47-a4f7-73386b2d78d3-sql,"How many models have all-wheel drive for BMW, ...","\nSELECT ""Make"", COUNT(*) AS awd_count\nFROM c...",sql
97,a53c11e9-c0d8-57ae-82fb-0d13e5cdd3e2-sql,Which Toyota electric vehicles have the longe...,"\nSELECT ""Model"", ""Year"", ""EPA electricity ran...",sql
98,669c8c05-4b7b-5039-8f69-469bf8cbf3fe-sql,Which Toyota models have 8-cylinder engines?,"\nSELECT ""Model"", ""Year"", ""Cylinders""\nFROM ca...",sql
0,1d831f6d-c54f-573e-b868-9ff29858f4b7-ddl,None,"\n CREATE TABLE ""cars_data"" (\n ...",ddl